<div id="quickview">
   <div class="quickw">
      <div class="quickwgroup">
         <button title="close" type="button" class="mfp-close">&#215;</button>
         <div class="name-popup qv">{{ heading_title }}</div>
      </div>
      <div class="quickw2">
         <div class="row">
            <div class="col-lg-12">
			<div id="nav_pr">
               <ul class="nav_pr nav nav-tabs mod">
                  <li class="active"><a href="#tab-product" data-toggle="tab">{{ tab_products }}</a></li>
                  {% if (not aridius_qckview_tab_description) %} 
                  <li><a href="#tab-description" data-toggle="tab">{{ tab_description }}</a></li>
                  {% endif %} 
                  {% if (attribute_groups and not aridius_qckview_tab_character) %} 
                  <li><a href="#tab-specification" data-toggle="tab">{{ tab_attribute }}</a></li>
                  {% endif %} 
                  {% if (review_status and not aridius_qckview_tab_reviews) %} 
                  <li><a href="#tab-review" data-toggle="tab">{{ tab_review }}</a></li>
                  {% endif %} 
				  

				  
				  
		 {% if (custom_tabs and not aridius_qckview_tab_additional) %} 
         {% for key,custom_tab in custom_tabs %} 
         {% if (custom_tab['title']) %} 
         <li>
            <a href="#tab-custom-{{ key }}" data-toggle="tab">
            {{ custom_tab['title'] }} 
            </a>
         </li>
         {% endif %} 
         {% endfor %} 
         {% endif %} 
		 
		 

		      
			  <!-- theme_tabs -->
               {% if (theme_tabs and not aridius_qckview_tab_additional) %} 
               {% for key, theme_tab  in theme_tabs %}
               {% if (theme_tab.title[language_id]) %}
         <li>
            <a href="#tab-add-{{ key }}" data-toggle="tab">
        {{ theme_tab.title[language_id] }}
            </a>
         </li>
               {% endif %}
               {% endfor %}
               {% endif %}
               <!-- theme_tabs -->
				  
				  
				  
               </ul>
			 </div> 
               <div class="tab-content">
                  <div class="tab-pane active" id="tab-product">


                     <div class="col-md-6 col-lg-6">
                        {% if (thumb or images) %} 
                        <div class="gallary-wrapper">
                           {% if (options or images) %}	
                           {% endif %} 
                           <div class="thumbnails demo-galleryqv swiper-container">
                     <div class="positionsticker">
                        <!-- special -->
                        {% if (theme_aurus_sticker_sale_product_auto != 1 and special and theme_aurus_show_stsale == 0) %} 
                        <div class="stickers-special"><span class="diamont_st">-{{ saving_product }}%</span></div>
                        {% endif %} 
                        <!-- special END -->
                        <!-- new -->	
                           {% set startDate1 = (product['dateadded']|slice(0, 10))|date('U') %}
                           {% set endDate2 = ("now"|date("Y/m/d"))|date('U') %}
                           {% set days = ((endDate2 / 86400)|round) - ((startDate1 / 86400)|round) %}
 
                        {% if (theme_aurus_sticker_new_product_auto != 1 and days < theme_aurus_sticker_product_new_day) %} 
                        <div class="stickers-new"><span class="diamont_st">{{ theme_aurus_name_sticker_product_new[language_id] }}</span></div>
                        {% endif %} 
                        <!-- new END -->	
                        <!-- top -->
                        {% if (theme_aurus_sticker_top_product_auto != 1 and theme_aurus_sticker_product_top_ratinr == 1 and rating == theme_aurus_sticker_product_top_rating or theme_aurus_sticker_top_product_auto != 1 and theme_aurus_sticker_product_top_ratinr == 2 and viewed > theme_aurus_sticker_product_top_viewed) %} 
                        <div class="stickers-top"><span class="diamont_st">{{ theme_aurus_name_sticker_product_top[language_id] }}</span></div>
                        {% endif %} 
                        <!-- top END -->
                        {% if (stickers2) %} 
                        {% for sticker2 in stickers2 %} 
                        <div class="stickers-all" style="color:{{ sticker2['color'] }};background:{{ sticker2['background'] }};">{{ sticker2['name'] }}</div>
                        {% endfor %} 
                        {% endif %} 
                     </div>
                              <ul class="swiper-wrapper">
                                 {% if (thumb) %} 
                                 <li class="swiper-slide"><span class="thumbnail imglink gallery_img_main">
                                    <img id="main-imageqv" class="main-imageqv" src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" data-zoom-image="{{ popup }}" /></span>
                                 </li>
                                 {% endif %} 
                                 {% if (images) %} 
                                 {% for image in images %} 
                                 <li class="swiper-slide">
                                    <span class="thumbnail imglink gallery_img_main">
                                    <img class="main-imageqv" src="{{ image['thumb2'] }}" title="{{ heading_title }}" alt="{{ heading_title }}" data-zoom-image="{{ image['popup'] }}" />
                                    </span>
                                 </li>
                                 {% endfor %} 
                                 {% endif %} 
                                 {% if (options and aurus_options_mainimg == 0) %} 
                                 {% for option in options %} 
                                 {% for option_value in option['product_option_value'] %} 
                                 {% if (option_value['image_opt_additional'] or option_value['image']) %} 
                                 <li class="swiper-slide">
                                    {% if (option_value['image_opt']) %} 
                                    <span class="thumbnail imglink gallery_img_main">
                                    <img class="main-imageqv" src="{{ option_value['image_opt'] }}" title="{{ heading_title }}" alt="{{ heading_title }}" data-zoom-image="{{ option_value['image_opt_popup'] }}" />
                                    </span>
                                    {% else %} 
                                    <span class="thumbnail imglink gallery_img_main">
                                    <img class="main-imageqv" src="{{ option_value['opt_thumb'] }}" title="{{ heading_title }}" alt="{{ heading_title }}" data-zoom-image="{{ option_value['popup'] }}" />
                                    </span>
                                    {% endif %} 
                                 </li>
                                 {% endif %} 
                                 {% endfor %} 
                                 {% endfor %} 
                                 {% endif %} 
                              </ul>
                              <div class="main_imgqv swiper-pagination"></div>
                              <div id="additional" class="additional_v swiper-container">
                                 <div class="swiper-wrapper">
                                    {% if (thumb and images or options) %} 
                                    <div class="image-additional swiper-slide">
                                       <img src="{{ thumb_add }}" title="{{ heading_title }}" alt="{{ heading_title }}" >
                                    </div>
                                    {% endif %} 
                                    {% if (images) %} 
                                    {% for image in images %} 
                                    <div class="image-additional swiper-slide">
                                       <img src="{{ image['thumb'] }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
                                    </div>
                                    {% endfor %} 
                                    {% endif %} 
                                    {% if (options and aurus_options_mainimg == 0) %} 
                                    {% for option in options %} 
                                    {% for option_value in option['product_option_value'] %} 
                                    {% if (option_value['image_opt_additional'] or option_value['image']) %} 
                                    <div class="image-additional swiper-slide">
                                       {% if (option_value['image_opt_additional']) %} 
                                       <img src="{{ option_value['image_opt_additional'] }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
                                       {% else %} 
                                       <img src="{{ option_value['opt_additional'] }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
                                       {% endif %} 
                                    </div>
                                    {% endif %} 
                                    {% endfor %} 
                                    {% endfor %} 
                                    {% endif %} 
                                 </div>
                                 {% if (aurus_imageadd_nav == 0) %} 
                                 <div class="add_img_v2 swiper-button-next"><i class="fa fa-chevron-right fa-5x"></i></div>
                                 <div class="add_img_v2 swiper-button-prev"><i class="fa fa-chevron-left fa-5x"></i></div>
                                 {% endif %} 
                              </div>
                           </div>
                        </div>
                        {% endif %} 
                     </div>



<div class="col-md-6 col-lg-6">






                        {% if (not aridius_qckview_rating) %} 
                        <div class="linetoppr">
                           <div class="rating">
                              <p>
                                 {% set i = 1 %}{% for i in i..5 %} 
                                 {% if (rating < i) %} 
                                 <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                 {% else %} 
                                 <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                 {% endif %} 
                                 {% endfor %} 
                                 <a class="review_profile" style="padding-bottom: 4px;" href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">&nbsp;&nbsp;{{ reviews }}</a> <span>/</span> <a class="review_profile" href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ text_write }}</a>
                              </p>
                           </div>
                        </div>
                        {% endif %}	
                        {% if (not aridius_qckview_short_info) %} 
                        <ul class="list-unstyled taxp2">
                           {% if (manufacturer and not aridius_qckview_manufacturer) %} 
                           {% if (aurus_product_man_img != 1) %} 
                           <li><a href="{{ manufacturers }}">
                              {% if ( manufacturer_img is defined ) %} 
                              <img  class="pull-right hidden-sm" src="{{ manufacturer_img }}" alt="{{ manufacturer }}" title="{{ manufacturer }}">
                              {% endif %} 
                              </a>
                           </li>
                           {% endif %} 
                           <li><span>{{ text_manufacturer }}</span>&nbsp;&nbsp;<a href="{{ manufacturers }}">{{ manufacturer }}</a></li>
                           {% endif %} 
                           {% if (aridius_qckview_stock != 1 ) %} 
                           <li>{{ text_stock }}&nbsp;&nbsp;{{ quantity > 0 ? '<span class = "rewardin">'~ stock ~'</span>' : '<span class = "rewardoff">'~ stock ~'</span>' }}</li>
                           {% endif %} 
                           {% if (aridius_qckview_code_product != 1) %} 
                           <li><span>{{ text_model }}</span>&nbsp;&nbsp;{{ model }}</li>
                           {% endif %} 
                           {% if (reward) %} 
                           <li><span>{{ text_reward }}</span>&nbsp;&nbsp;{{ reward }}</li>
                           {% endif %} 
                           {% if (length and width and height and aurus_product_size != 1 ) %} 
                           <li>{% if (length > 0) %}{{ text_lengthp }} {{ length }} {% if ((length > 0 and width > 0) or (length > 0 and height > 0)) %}x{% endif %} {% endif %}{% if (width > 0) %}{{ text_widthp }} {{ width }} {% if (width > 0 and height > 0) %}x{% endif %} {% endif %}{% if (height > 0) %}{{ text_heightp }} {{ height }}{% endif %}</li>
                           {% endif %} 
                           {% if (weight > 0 and aurus_product_weight != 1 ) %} 
                           <li>{{ text_weightp }} {{ weight }}</li>
                           {% endif %} 
                           {% if (aurus_product_show_sku != 1) %} 
                           <li>{% if (sku) %} {{ aurus_product_sku[language_id] }} {% endif %} {{ sku }}</li>
                           {% endif %} 
                           {% if (aurus_product_show_upc != 1) %} 
                           <li>{% if (upc) %} {{ aurus_product_upc[language_id] }} {% endif %} {{ upc }}</li>
                           {% endif %} 
                           {% if (aurus_product_show_ean != 1) %} 
                           <li>{% if (ean) %} {{ aurus_product_ean[language_id] }} {% endif %} {{ ean }}</li>
                           {% endif %} 
                           {% if (aurus_product_show_jan != 1) %} 
                           <li>{% if (jan) %} {{ aurus_product_jan[language_id] }} {% endif %} {{ jan }}</li>
                           {% endif %} 
                           {% if (aurus_product_show_isbn != 1) %} 
                           <li>{% if (isbn) %} {{ aurus_product_isbn[language_id] }} {% endif %} {{ isbn }}</li>
                           {% endif %} 
                           {% if (aurus_product_show_mpn != 1) %} 
                           <li>{% if (mpn) %} {{ aurus_product_mpn[language_id] }} {% endif %} {{ mpn }}</li>
                           {% endif %} 
                        </ul>
                        {% endif %}				  
                        {% if ((special and special_date_end > special_date_start) and (aurus_product_timer != 1)) %}				  
                        <div class="special_border2">
                           <div class="text_special product2">{{ end_special }} <span class="hidden-sm">{{ end_special2 }}</span></div>
                           <div class="special-timer-all">
                              <div class = "special-timere-zone">
                                 <div id = "time_outpopup"></div>
                              </div>
                           </div>
                        </div>
                        {% endif %} 
                        {% if (price) %} 
                        <div class="pr_price">
                           <div class="line-product">
                              {% if (not special) %} 
                              <span class="price-new">{{ price }}</span>
                              {% else %} 
                              <span class="price-old">{{ price }}</span>
                              {% if (aridius_qckview_show_saving != 1) %} 
                              <div class="popup-left-corner"><span class="popup3"> - {{ saving_product }}%</span>{{ text_saving }} <span class="autocalc-saving-price"></span> </div>
                              {% endif %} 
                              <br />
                              <span class="price-new">{{ special }}</span>
                              {% endif %} 
                              {% if (tax or points or discounts) %} 
                              <ul class="list-unstyled taxpd">
                                 {% if (tax) %} 
                                 <li>{{ text_tax }} {{ tax }}</li>
                                 {% endif %} 
                                 {% if (points) %} 
                                 <li>{{ text_points }} {{ points }}</li>
                                 {% endif %} 
                              </ul>
                              {% if (discounts) %} 
                              <span class="discount" data-html="true" data-toggle="tooltip" title="
                                 {% for discount in discounts %} 
                                 {{ discount['quantity'] }}{{ text_discount }}{{ discount['price'] }}<br>
                                 {% endfor %} 
                                 "><i class="fa fa-info"></i> {{ text_discount2 }}</span>
                              {% endif %} 
                              {% endif %} 
                           </div>
                        </div>
                        {% endif %}  


<div id="product_quickw">




                           {% if (options) %} 
                           <hr>
                           <br/>
                           {% for option in options %} 
                           {% if (option['type'] == 'select') %} 
                           <div class="form-group{{ option['required'] ? ' required' : '' }}">
                              <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}</label>
                              <select name="option[{{ option['product_option_id'] }}]" id="input-option{{ option['product_option_id'] }}" class="form-control">
                                 <option value="">{{ text_select }}</option>
                                 {% for option_value in option['product_option_value'] %} 
                                 <option value="{{ option_value['product_option_value_id'] }}">{{ option_value['name'] }} 
                                    {% if (option_value['price']) %} 
                                    ({{ option_value['price_prefix'] }}{{ option_value['price'] }})
                                    {% endif %} 
                                 </option>
                                 {% endfor %} 
                              </select>
                           </div>
                           {% endif %} 
                           {% if (option['type'] == 'radio') %} 
                           <div class="options_group form-group{{ option['required'] ? ' required' : '' }}">
                              <label class="control-label">{{ option['name'] }}</label>
                              <div id="input-option{{ option['product_option_id'] }}">
                                 {% for option_value in option['product_option_value'] %} 
                                 <div class="radio">
                                    <label>
                                    {% if (option_value['image']) %} 
                                    <span class="opthe">
                                    <input class="optstyle js-input-option" type="radio" name="option[{{ option['product_option_id'] }}]" value="{{ option_value['product_option_value_id'] }}" />		
                                    <img src="{{ option_value['image'] }}" data-toggle="tooltip" data-placement="top" title="{{ option_value['name'] }}  {% if (option_value['price'] and aurus_options_prise == 0) %}{{ option_value['price_prefix'] }}{{ option_value['price'] }} {% endif %}" class="img-thumbnail imgpopcatqv" {% if (option_value['image_opt']) %} data-image="{{ option_value['image_opt'] }}" {% else %} data-image="{{ option_value['opt_thumb'] }}" {% endif %} alt="{{ option_value['name'] ~ option_value['price'] ? ' ' ~ option_value['price_prefix'] ~ option_value['price'] : '' }}" />	
                                    {% if (option_value['price']) %} 
                                    <br />
                                    <span class = "hide_optprise">{{ option_value['price_prefix'] }}{{ option_value['price'] }}</span>
                                    {% endif %} 
                                    </span>	
                                    {% else %} 
                                    <input type="radio"  class="options_none" name="option[{{ option['product_option_id'] }}]" value="{{ option_value['product_option_value_id'] }}" />
                                    <span class="im_option" {% if (option_value['price'] and aurus_options_prise == 0) %} data-toggle="tooltip" data-placement="top" title="{{ option_value['price_prefix'] }}{{ option_value['price'] }}" {% endif %}>{{ option_value['name'] }} </span>
                                    {% if (option_value['price']) %} 
                                    <span class = "hide_optprise">{{ option_value['price_prefix'] }}{{ option_value['price'] }}</span>
                                    {% endif %}<span class = "options-prheight"></span>
                                    {% endif %}  
                                    </label>
                                 </div>
                                 {% endfor %} 
                              </div>
                           </div>
                           {% endif %} 
                           {% if (option['type'] == 'checkbox') %} 
                           <div class="options_group form-group{{ option['required'] ? ' required' : '' }}">
                              <label class="control-label">{{ option['name'] }}</label>
                              <div id="input-option{{ option['product_option_id'] }}">
                                 {% for option_value in option['product_option_value'] %} 
                                 <div class="checkbox">
                                    <label>
                                    {% if (option_value['image']) %} 
                                    <span class="opthe">
                                    <input class="optstyle js-input-option" type="checkbox" name="option[{{ option['product_option_id'] }}][]" value="{{ option_value['product_option_value_id'] }}" />
                                    <img src="{{ option_value['image'] }}" data-toggle="tooltip" data-placement="top" title="{{ option_value['name'] }}  {% if (option_value['price'] and aurus_options_prise == 0) %}{{ option_value['price_prefix'] }}{{ option_value['price'] }} {% endif %}" class="img-thumbnail imgpopcatqv" {% if (option_value['image_opt']) %} data-image="{{ option_value['image_opt'] }}" {% else %} data-image="{{ option_value['opt_thumb'] }}" {% endif %} alt="{{ option_value['name'] ~ option_value['price'] ? ' ' ~ option_value['price_prefix'] ~ option_value['price'] : '' }}" />
                                    {% if (option_value['price']) %} 
                                    <br />
                                    <span class = "hide_optprise">{{ option_value['price_prefix'] }}{{ option_value['price'] }}</span>
                                    {% endif %} 
                                    </span>	
                                    {% else %} 
                                    <input type="checkbox" class="options_none" name="option[{{ option['product_option_id'] }}][]" value="{{ option_value['product_option_value_id'] }}" />
                                    <span class="im_option" {% if (option_value['price'] and aurus_options_prise == 0) %} data-toggle="tooltip" data-placement="top" title="{{ option_value['price_prefix'] }}{{ option_value['price'] }}" {% endif %}>{{ option_value['name'] }} </span>
                                    {% if (option_value['price']) %} 
                                    <span class = "hide_optprise">{{ option_value['price_prefix'] }}{{ option_value['price'] }}</span>
                                    {% endif %}<span class = "options-prheight"></span>
                                    {% endif %}  
                                    </label>
                                 </div>
                                 {% endfor %} 
                              </div>
                           </div>
                           {% endif %} 
                           {% if (option['type'] == 'text') %} 
                           <div class="form-group{{ option['required'] ? ' required' : '' }}">
                              <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}</label>
                              <input type="text" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" placeholder="{{ option['name'] }}" id="input-option{{ option['product_option_id'] }}" class="form-control" />
                           </div>
                           {% endif %} 
                           {% if (option['type'] == 'textarea') %} 
                           <div class="form-group{{ option['required'] ? ' required' : '' }}">
                              <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}</label>
                              <textarea name="option[{{ option['product_option_id'] }}]" rows="5" placeholder="{{ option['name'] }}" id="input-option{{ option['product_option_id'] }}" class="form-control">{{ option['value'] }}</textarea>
                           </div>
                           {% endif %} 
                           {% if (option['type'] == 'file') %} 
                           <div class="form-group{{ option['required'] ? ' required' : '' }}">
                              <label class="control-label">{{ option['name'] }}</label>
                              <button type="button" id="button-upload{{ option['product_option_id'] }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block"><i class="fa fa-upload"></i> {{ button_upload }}</button>
                              <input type="hidden" name="option[{{ option['product_option_id'] }}]" value="" id="input-option{{ option['product_option_id'] }}" />
                           </div>
                           {% endif %} 
                           {% if (option['type'] == 'date') %} 
                           <div class="form-group{{ option['required'] ? ' required' : '' }}">
                              <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}</label>
                              <div class="input-group date">
                                 <input type="text" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" data-date-format="YYYY-MM-DD" id="input-option{{ option['product_option_id'] }}" class="form-control" />
                                 <span class="input-group-btn">
                                 <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                                 </span>
                              </div>
                           </div>
                           {% endif %} 
                           {% if (option['type'] == 'datetime') %} 
                           <div class="form-group{{ option['required'] ? ' required' : '' }}">
                              <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}</label>
                              <div class="input-group datetime">
                                 <input type="text" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option['product_option_id'] }}" class="form-control" />
                                 <span class="input-group-btn">
                                 <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                                 </span>
                              </div>
                           </div>
                           {% endif %} 
                           {% if (option['type'] == 'time') %} 
                           <div class="form-group{{ option['required'] ? ' required' : '' }}">
                              <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}</label>
                              <div class="input-group time">
                                 <input type="text" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" data-date-format="HH:mm" id="input-option{{ option['product_option_id'] }}" class="form-control" />
                                 <span class="input-group-btn">
                                 <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                                 </span>
                              </div>
                           </div>
                           {% endif %} 
                           {% endfor %} 
                           {% endif %}










                          {% if (recurrings) %} 
                           <hr>
                           <h3>{{ text_payment_recurring }}</h3>
                           <div class="form-group required">
                              <select name="recurring_id" class="form-control">
                                 <option value="">{{ text_select }}</option>
                                 {% for recurring in recurrings %} 
                                 <option value="{{ recurring['recurring_id'] }}">{{ recurring['name'] }}</option>
                                 {% endfor %} 
                              </select>
                              <div class="help-block" id="recurring-description"></div>
                           </div>
                           {% endif %} 
                           <div class="form-group">
                              <div class="pull-left1">
                                 <button type="button" class="minus items-count"><i class="fa fa-minus">&nbsp;</i></button>
                                 <input type="text" name="quantity" value="{{ minimum }}" data-toggle="tooltip" title="{{ entry_qty }}" size="2" class="input-quantity form-control" />
                                 <button type="button" class="plus items-count2"><i class="fa fa-plus">&nbsp;</i></button>
                                 <input type="hidden" name="product_id" value="{{ product_id }}" />
                              </div>
                              &nbsp;&nbsp;&nbsp;			
			      <noindex>
                              {% if (aurus_wishlist_cat != 1 and not aridius_qckview_button_wish) %} 
                              <button type="button" data-toggle="tooltip" class="btn-wishlist" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product_id }}');"><i class="fa fa-heart"></i></button>
                              {% endif %} 
                              {% if (aurus_compare_cat != 1 and not aridius_qckview_button_compare) %} 
                              <button type="button" data-toggle="tooltip" class="btn-compare" title="{{ button_compare }}" onclick="compare.add('{{ product_id }}');"><i class="fa fa-exchange"></i></button>
                              {% endif %}	
			      </noindex>
                              <div class="clearfix"></div>
                              <div class="cart" >
                                 {% if (quantity <= 0 and aridiusinstock_status ) %} 
                                 <button type="button" class="btn-instock" onclick="instock.add('{{ product_id }}');" data-product-id="{{ product_id }}">{{ button_instock }}</button>
                                 {% else %} 
                                 <button type="button" id="button-cart_quickw" data-loading-text="{{ text_loading }}" class="btn-cart product"><i class="fa fa-shopping-cart hidden-xs hidden-sm"></i> {{ button_cart }}</button>
                                 {% endif %} 
                              </div>
                              {% if (minimum > 1) %} 
                              <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_minimum }}</div>
                              {% endif %} 
                           </div>
                           <div class="clearfix"></div>
                           {% if (minimum > 1) %} 
                           <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_minimum }}</div>
                           {% endif %}

</div>


</div>
                  </div>
                  {% if (not aridius_qckview_tab_description) %} 
                  <div class="tab-pane" id="tab-description">{{ description }}</div>
                  {% endif %} 
                  {% if (attribute_groups and not aridius_qckview_tab_character) %} 
                  <div class="tab-pane" id="tab-specification">
                     <table class="table table-bordered">
                        {% for attribute_group in attribute_groups %} 
                        <thead>
                           <tr>
                              <td colspan="2"><strong>{{ attribute_group['name'] }}</strong></td>
                           </tr>
                        </thead>
                        <tbody>
                           {% for attribute in attribute_group['attribute'] %} 
                           <tr>
                              <td>{{ attribute['name'] }}</td>
                              <td>{{ attribute['text'] }}</td>
                           </tr>
                           {% endfor %} 
                        </tbody>
                        {% endfor %} 
                     </table>
                  </div>
                  {% endif %} 
                  {% if (review_status and not aridius_qckview_tab_reviews) %} 
                  <div class="tab-pane" id="tab-review">
                     <form class="form-horizontal" id="form-review">
                        <div id="review"></div>
                        <span class="text-write">{{ text_write }}</span>
                        {% if (review_guest) %} 
                        <div class="form-group required">
                           <div class="col-sm-12">
                              <label class="control-label" for="input-name">{{ entry_name }}</label>
                              <input type="text" name="name" value="{{ customer_name }}" id="input-name" class="form-control" />
                           </div>
                        </div>
                        <div class="form-group required">
                           <div class="col-sm-12">
                              <label class="control-label" for="input-review">{{ entry_review }}</label>
                              <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                           </div>
                        </div>
                        <div class="form-group">
                           <div class="col-sm-12">
                              <label for="input-dignity">{{ text_dignity }}</label>
                              <input type="text" name="dignity" id="input-dignity" class="form-control">
                           </div>
                        </div>
                        <div class="form-group">
                           <div class="col-sm-12">
                              <label for="input-limitations">{{ text_limitations }}</label>
                              <input type="text" name="limitations" id="input-limitations" class="form-control">
                           </div>
                        </div>
                        <div class="help-block">{{ text_note }}</div>
                        <div class="form-group required">
                           <div class="col-sm-12">
                              <label class="control-label">{{ entry_rating }}</label>
                              <input type="hidden" name="rating" value="{{ aurus_product_raiting }}" class="rating-tooltip"/>
                           </div>
                        </div>
                        {{ captcha }} 
                        <div class="buttons clearfix">
                           <div class="pull-right">
                              <button type="button" id="button-review" data-loading-text="{{ text_loading }}" class="btn-cart">{{ button_continue }}</button>
                           </div>
                        </div>
                        {% else %} 
                        {{ text_login }} 
                        {% endif %} 
                     </form>
                  </div>
                  {% endif %} 

			
			
			
			
			            <!-- custom_tabs -->
            {% if (custom_tabs and not aridius_qckview_tab_additional) %} 
            {% for key,custom_tab in custom_tabs %} 
            {% if (custom_tab['title']) %} 
            <div class="tab-pane" id="tab-custom-{{ key}}">{{ custom_tab['description'] }}</div>
            {% endif %} 
            {% endfor %} 
            {% endif %} 
            <!-- custom_tabs -->
			

			   <!-- theme__tabs -->
               {% if (theme_tabs and not aridius_qckview_tab_additional) %} 
               {% for key, theme_tab  in theme_tabs %}
               {% if (theme_tab.description) %}
               <div class="tab-pane" id="tab-add-{{ key }}">{{ (theme_tab['description']) }}</div>
               {% endif %}
               {% endfor %}
               {% endif %}

				  
               </div>
            </div>
         </div>
      </div>
      <script src="catalog/view/javascript/jquery/datetimepicker/moment/moment.min.js"></script>
      <script src="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js"></script>
      <link href="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css"/>
      <script src="catalog/view/theme/aurus/js/bootstrap_rating/bootstrap-rating.js"></script>
      <!-- add cart -->	
      <script><!--
         $('#button-cart_quickw').on('click', function() {
         	$.ajax({
         url: 'index.php?route=checkout/cart/add',
         type: 'post',
         data: $('#product_quickw input[type=\'text\'], #product_quickw input[type=\'hidden\'], #product_quickw input[type=\'radio\']:checked, #product_quickw input[type=\'checkbox\']:checked, #product_quickw select, #product_quickw textarea'),
         dataType: 'json',
         beforeSend: function() {
         			$('#button-cart_quickw').button('loading');
         		},
         complete: function() {
         			$('#button-cart_quickw').button('reset');
         		},
         success: function(json) {
         			$('.alert, .text-danger').remove();
         			$('.form-group').removeClass('has-error');
         			if (json['error']) {
         				if (json['error']['option']) {
         					for (i in json['error']['option']) {
         						var element = $('#input-option' + i.replace('_', '-'));
         						if (element.parent().hasClass('input-group')) {
         							element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
         						} else {
         							element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
         						}
         					}
         				}
         				if (json['error']['recurring']) {
         					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
         				}
         				// Highlight any found errors
         				$('.text-danger').parent().addClass('has-error');
         			}
            if (json['success']) {
            $.magnificPopup.close();
            $.magnificPopup.open({
            removalDelay: 500,
            fixedContentPos: true,
            items: {
            src: 'index.php?route=common/aridius_cart/info'
            },
            type: 'ajax',
            removalDelay: 0,
            mainClass: 'my-mfp-zoom-in'
            });
            $('#cart button > span').html('<span> &nbsp;' + json['total'] + '&nbsp;<span class="caret"></span></span>');
            $('#cart').load('index.php?route=common/cart/info #cart > *');
            $('#cart2').load('index.php?route=common/cart2/info #cart2 > *');
            $('#aridius_cart').load('index.php?route=common/aridius_cart/info #aridius_cart > *', function() {
            carousel();
            });
            }
         		},
         error: function(xhr, ajaxOptions, thrownError) {
         			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
         		}
         	});
         });
         //-->
      </script>
      <!-- datetimepicker -->	
      <script><!--
         $('.date').datetimepicker({
         pickTime: false
         });
         $('.datetime').datetimepicker({
         pickDate: true,
         pickTime: true
         });
         $('.time').datetimepicker({
         pickDate: false
         });
         $('button[id^=\'button-upload\']').on('click', function() {
         	var node = this;
         	$('#form-upload').remove();
         	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');
         	$('#form-upload input[name=\'file\']').trigger('click');
         	if (typeof timer != 'undefined') {
         		clearInterval(timer);
         	}
         	timer = setInterval(function() {
         		if ($('#form-upload input[name=\'file\']').val() != '') {
         			clearInterval(timer);
         			$.ajax({
         url: 'index.php?route=tool/upload',
         type: 'post',
         dataType: 'json',
         data: new FormData($('#form-upload')[0]),
         cache: false,
         contentType: false,
         processData: false,
         beforeSend: function() {
         					$(node).button('loading');
         				},
         complete: function() {
         					$(node).button('reset');
         				},
         success: function(json) {
         					$('.text-danger').remove();
         					if (json['error']) {
         						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
         					}
         					if (json['success']) {
         						alert(json['success']);
         						$(node).parent().find('input').val(json['code']);
         					}
         				},
         error: function(xhr, ajaxOptions, thrownError) {
         					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
         				}
         			});
         		}
         	}, 500);
         });
         //-->
      </script>
      <!-- rating -->	
      <script><!--
         $(function () {
         	$('.rating-tooltip').ar_rating({
         extendSymbol: function (rate) {
         			$(this).tooltip({
         container: 'body',
         placement: 'bottom',
         title: rate
         			});
         		}
         	});
         });
         //-->
      </script>
      <!--review stars -->
      <script><!--
         $(".review_profile").click(function (){
         	var tabTop = $(".nav-tabs").offset().top;
         	$("html, body").animate({ scrollTop:tabTop }, 800);
         });
         //-->
      </script>
      <!--review -->
      <script><!--
         $('#review').delegate('.pagination a', 'click', function(e) {
         	e.preventDefault();
         	$('#review').fadeOut('slow');
         	$('#review').load(this.href);
         	$('#review').fadeIn('slow');
         });
         $('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');
         $('#button-review').on('click', function() {
         	$.ajax({
         url: 'index.php?route=product/product/write&product_id={{ product_id }}',
         type: 'post',
         dataType: 'json',
         data: $("#form-review").serialize(),
         beforeSend: function() {
         			$('#button-review').button('loading');
         		},
         complete: function() {
         			$('#button-review').button('reset');
         		},
         success: function(json) {
         			$('.alert-success, .alert-danger').remove();
         			if (json['error']) {
         				$('#review').after('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
         			}
         			if (json['success']) {
         				$('#review').after('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');
         				$('input[name=\'name\']').val('');
         				$('textarea[name=\'text\']').val('');
         				$('input[name=\'dignity\']').val('');
         				$('input[name=\'limitations\']').val('');
         				$('input[name=\'rating\']:checked').prop('checked', false);
         			}
         		}
         	});
         });
         //-->
      </script>
      <script><!--
         <!--timerpopup -->
         var popupq;
         function get_timerpopup(isstart) {
         	if (!isstart) {clearTimeout (popupq);return;}
         	 {% set special_res= constant('false') %}
 {% if ((special and special_date_end > special_date_start) and (aurus_product_timer != 1)) %}
 	{% set special_res= constant('true') %}
{% set date_out = (special_date_end|date('Y, m, d')) %}
 		
         		get_timer2();
         		popupq = setInterval(get_timer2,1000);
         		{% endif %} 
         }
         function get_timer2() {
         	var timeendpopup= new Date();
         	timeendpopup = new Date({% if (special_res) %} {{ date_out }}{% endif %});
         	var day = new Date();
         	day.setMonth(day.getMonth() + 1);
         	day = Math.floor((timeendpopup-day)/1000);
         	var sec=day%60; day=Math.floor(day/60); 
         	var min=day%60; day=Math.floor(day/60);
         	var hour=day%24; day=Math.floor(day/24);
         	if(day<10)day='0'+day;
         	if(hour<10)hour='0'+hour;
         	if(min<10)min='0'+min;
         	if(sec<10)sec='0'+sec;
            var timestr =  "<div class='countdown'><div class='day'><span class='num'>" +day+ "</span><span class='word'>{{ day }}</span></div><span class='special-timer-line'>&ndash;</span><div class='hour'><span class='num'>" +hour+ "</span><span class='word'>{{ hour }}</span></div><span class='special-timer-line'>&ndash;</span><div class='min'><span class='num'>" +min+ "</span><span class='word'>{{ minute }}</span></div><span class='special-timer-line'>&ndash;</span><div class='sec'><span class='num'>" +sec+ "</span><span class='word'>{{ second }}</span></div></div>";
			document.getElementById('time_outpopup').innerHTML=timestr;
         }
         //-->
      </script>
      <!-- + / - -->
      <script><!--
         function minus(){
         if(document.getElementsByClassName ("input-quantity")[0].value <= 1) {
         return false;
         }
         document.getElementsByClassName ("input-quantity")[0].value --;
         };
         function plus(){
         document.getElementsByClassName ("input-quantity")[0].value ++;
         };
         $('.minus').click(function(){
         minus();
         });
         $('.plus').click(function(){
         plus();
         });
         //-->
      </script>
      <script>
         $(function() {
         	function getData3(slider) {
         	  	var slides2 = slider.slides;
         		var activeIndex2 = slider.activeIndex;
         		var $currentSlide2 = $(slides2[activeIndex2]);
         		var $currentImage2 = $currentSlide2.find('img');
         	  	return {
         	  		slides2: slides2,
         			activeIndex2: activeIndex2,
         			$currentSlide2: $currentSlide2,
         			$currentImage2: $currentImage2
         	  	}
         	 }
         	  var $gallery2 = $('.demo-galleryqv');
         	  var $slides2 = $gallery2.find('.main-imageqv');
         	  if ($slides2.length > 1) {
         		  var initialSlide2 = 0;
         		  window.mainCarousel2;
				  setTimeout(() => {
         		  window.thumbCarousel2 = new Swiper ('#additional', {
         		  	initialSlide2: initialSlide2,
         		    slidesPerView: 4,
         breakpoints: {
           768: {
             slidesPerView: 3,
            },
           992: {
             slidesPerView: 5,
               },
           1200: {
             slidesPerView: 3,
            },
             1600: {
             slidesPerView: 4,
            }
         },
         navigation: {
               nextEl: '.add_img_v2.swiper-button-next',
               prevEl: '.add_img_v2.swiper-button-prev',		
           },	
         		    on: {
         		    	init: function() {
         		    		$(this.slides[initialSlide2]).addClass('swiper-slide-selected');
         		    		window.mainCarousel2 = new Swiper ('.demo-galleryqv', {
         						slidesPerView: 1,
         						     pagination: {
               el: '.main_imgqv.swiper-pagination',
         clickable: true,
             },
         					    on: {
         					    	slideChange: function() {
         					    		var activeIndex2 = this.activeIndex;
         					    		var thumbCarousel2 = window.thumbCarousel2;
         					    		var slides2 = thumbCarousel2.slides;
         					    		Object.values(slides2).forEach(function(slide) {
         					    			$(slide).removeClass('swiper-slide-selected');
         					    		});
         					    		$(slides2[activeIndex2]).addClass('swiper-slide-selected');
         					    		if (activeIndex2 < thumbCarousel2.slides.length) {
         					    			thumbCarousel2.slideTo(activeIndex2);
         					    		}
         					    	},
         		 
         					    }
         					  });
         		    	},
         		    	click: function(e) {
         		    		if (!window.mainCarousel2) return;
         		    		var index2 = this.clickedIndex;
         		    		window.mainCarousel2.slideTo(index2, 300);
         		    	}
         		    }
         		  });
				  }, 200)
         	  } else {
         	  	var $currentImage2 = $slides2.eq(0);
         	  }
         	{% if (aurus_imageadd_hover == '1') %}			  
         //Swiper Slider Mouse Hover		  
         $('#additional .swiper-slide').on('mouseover', function() {
         window.mainCarousel2.slideTo($(this).index());
         })
         {% endif %}	  
         	});
      </script>
      <script><!--
         jQuery(document).ready(function () {
         	$('.imgpopcatqv').click( "click" , function(event){
         		var $gallery2 = $('.demo-galleryqv');
         		var $slides2 = $gallery2.find('.main-imageqv');
         		var $this = $(this);
         		if ($slides2.length > 1) {
         			var mainCarousel2 = window.mainCarousel2;
         			if (!mainCarousel2) return false;
         			var slides2 = mainCarousel2.slides;
         			var popPath = $this.data('image');
         			var index2 = 0;
         			Object.values(slides2).forEach(function(slide, idx) {
         				var $img = $(slide).find('img');
         				if ($img.prop('src') === popPath) index2 = idx;
         			});
         			 mainCarousel2.slideTo(index2, 300);
         		} else {
         			var img = $this.attr('data-image');
         			var title = $this.attr('title');
         			var imgphoto = $this.data('zoomImage');
         			var $mainImage = $('#main-imageqv');
         			$mainImage.attr("src" , img);
         			$mainImage.data('zoomImage', imgphoto);
         		}
         	});
         });
         //-->
      </script>
   </div>
</div>
